
<!--<ion-side-menus>
  
  <!-- Center content -->
  <!--<ion-side-menu-content drag-content = "true">
    
    <ion-nav-view name= 'poll-list' animation = 'slide-right-left'>

    </ion-nav-view>
  </ion-side-menu-content>
   
    <!-- Left menu -->
   <!-- <ion-side-menu side="left">
      <ion-header-bar class = 'bar-positive'>
          
      </ion-header-bar> -->
      <ion-view title = "Categories" class = "dark">
        <ion-content>
              <ion-list>
                <a class = 'item item-calm' href="#/poll/categries/latest">
                 <i class ='icon ion-clock'></i>
                  Latest Polls
                </a>
                <a class = 'item item-energized' href = "#/poll/categries/latest">
                  <i class = 'icon ion-xbox'></i>
                  Entertainment</a>
                <a class = 'item item-balanced' href = "#/poll/categries/latest">
                  <i class = 'icon ion-earth'></i>
                  Sports</a>
                <a class = 'item item-royal' href = "#/poll/categries/latest">
                  <i class = 'icon ion-bug'></i>
                  Political</a>
              </ion-list>
        </ion-content>
      </ion-view>
  <!--
    </ion-side-menu>
    

</ion-side-menus>-->


