
      <ion-view title = "Categories" class = "dark">
        <ion-content>
              <ion-list>
                <a class = 'item item-calm' href="#/poll/categries/latest">
                 <i class ='icon ion-clock'></i>
                  Latest Polls
                </a>
                <a class = 'item item-energized' href = "#/poll/categries/latest">
                  <i class = 'icon ion-xbox'></i>
                  Entertainment</a>
                <a class = 'item item-balanced' href = "#/poll/categries/latest">
                  <i class = 'icon ion-earth'></i>
                  Sports</a>
                <a class = 'item item-royal' href = "#/poll/categries/latest">
                  <i class = 'icon ion-bug'></i>
                  Political</a>
              </ion-list>
        </ion-content>
      </ion-view>
  


