
 <ion-view  title = "{{ activePollCategory.title }}">


   <ion-nav-buttons side="left">
    
    <button class = "button button-icon" ng-click = "toggleCategories()">
            <i class = "icon ion-navicon"></i>
    </button>

    

    </ion-nav-buttons>

  <ion-nav-buttons side="right">
  
  <button class = "button button-icon" ng-click = "newTask()">
          <i class = "icon ion-plus-round"></i>
  </button>

   <button class = "button button-icon" ng-click = "newTask()">
          <i class = "icon ion-search"></i>
    </button>

  </ion-nav-buttons>
  
  <ion-content class = "alt-gray">
    <ion-list>

      <a ng-repeat = "poll in polls" class = 'item item-thumbnail-left alt-gray' ng-click = "showPoll(poll.id)">
          <img ng-src = "images/{{poll.image}}" />
          {{poll.title}}
      </a>

    </ion-list>
</ion-content>
      
    </ion-view> 
