
<ion-nav-bar class = 'nav-title-slide-ios7 bar-positive'>
      <button class = "button button-icon" ng-click = "toggleCategories()">
          <i class = "icon ion-navicon"></i>
      </button>
    </ion-nav-bar>

  <ion-view  title = 'Latest Polls'>

  <ion-content>
    <ion-list>

      <a class = 'item' href = "/#/poll/show/123">
          Do you like peanut butter ?
      </a>

      <a class = 'item' href = "/#/poll/show/123">
          Do you like IPL ?
      </a>

      <a class = 'item' href = "/#/poll/show/123">
          Did you like 2 states ?
      </a>

      <a class = 'item' href = "/#/poll/show/123">
          Is Arvind Kejriwal fake ?
      </a>

    </ion-list>
</ion-content>
      
    </ion-view>